<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">

    <div class="container">

        <a
            class="navbar-brand fw-bold"
            href="/contacts">

            Contact Manager
        </a>

        <div class="d-flex gap-2">

            <a
                href="/contacts"
                class="btn btn-outline-dark">

                Contacts
            </a>

            <a
                href="/contacts/create"
                class="btn btn-primary">

                Add Contact
            </a>

            <a
                href="/logout"
                class="btn btn-danger">

                Logout
            </a>

        </div>

    </div>

</nav>